/* Whole Site RULE */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Main Colors + Body Styles */
:root {
    --primary: rgb(0,0,0);
    --secondary: rgb(34,139,34);
    --white: rgb(255,255,255);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary);
    background-color: var(--third);
    line-height: 3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* Blinking animation */
.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Header */
header {
    padding: 10px 6% 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
}

header h1 {
    color: var(--white);
    font-size: 45px;
    padding-left: 20px;
}

/* NAVI Styles */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav a {
    color: var(--secondary);
    font-size: 35px;
    margin-right: 10px;
    text-decoration: none;
}

/* Hero */
.hero {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 3px;
    color: var(--secondary);
}

.hero h2 {
    opacity: 0.8;
}

/* Page Wrapper */
.page-wrapper img {
    width: 300px;
    box-shadow: 0 0 5px 4px;
    margin-top: 10px;
    margin-left: 10px;
}

about {
    float: right;
}

