/* Whole Site RULE */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Main Colors + Body Styles */
:root {
    --primary: rgb(0,0,0);
    --secondary: rgb(34,139,34);
    --white: rgb(255,255,255);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'BioRhyme', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--primary);
    background-color: var(--third);
    line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* Blinking animation */
.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 25px;
    background: url("https://privacyinternational.org/sites/default/files/flysystem/2018-02/giphy.gif");
}

header h1 {
    color: var(--secondary);
    font-size: 45px;
    padding: 3px 2% 3px 2%;
}

/* NAVI Styles */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3px 1% 3px 1%;
    line-height: 2;
}

nav a {
    color: var(--secondary);
    font-size: 25px;
    margin-right: 10px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    text-decoration: underline;
    justify-content: space-around;
    background-color: var(--primary);
    background-position: center;
}

/* Hero */
.hero {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--secondary);
    line-height: 3;
}

.hero h2 {
    opacity: 0.9;
}

/* Page Wrapper */
.page-wrapper {
    padding-top: 3px;
    background-color: rgb(60,60,60);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 6;
}

.page-wrapper img {
    width: 325px;
    height: 345px;
    box-shadow: 0 0 5px 4px;
    margin-left: 12px;
    margin-top: 5px;
    float: left;
}

/* about me section */

.about {
    background: url("https://thumbs.gfycat.com/ValuableDisguisedCurlew-size_restricted.gif");
    float: center;
    margin-left: 350px;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-top: 10px;
    border-bottom: 10px;
    border-style: solid;
    border-color: var(--primary);
}

.about h2 {
    font-size: 45px;
    color: var(--white);
    margin-top: -90px;
    margin-right: 10px;
    margin-left: 15px;
    text-decoration: underline;
    text-align: center;
}

.about div {
    font-size: 25px;
    color: var(--white);
    margin-left: 15px;
    margin-top: -150px;
    text-align: center;
}

/* Project section */
.projects h2 {
    text-align: center;
    font-size: 45px;
    box-shadow: 5px 5px;
    line-height: 9;
    width: auto;
}